#page-create-point {
  width: 100%;
  max-width: 1300px;

  margin: 0 auto;
}

#page-create-point header {
  margin-top: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-create-point header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#page-create-point header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#page-create-point form {
  margin: 80px auto;
  padding: 30px;
  max-width: 850px;
  background: #fff;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}


.menu-login{
  display: flex;
  img{
    width: 75px;
    height: 75px;
  }

  .name{
    font-size: 18px;
    border-bottom: 3px solid gray;
    margin-right:-3px;
    padding-right: 10px;
  }

  .edit{
    text-align: right;
    cursor: pointer;
  }

  .logout{
    text-align: right;
    cursor: pointer;
  }

  .menu-login-options{
    margin-right: 10px;
    padding-right: 3px;
    border-right: 3px solid gray;
    float: right;
  }
}

.menu-panel{
  margin-top: 20px;
  margin-bottom: 15px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 5px;
  display: none;
}

.user-adm{
  color: gold;
  transition: color 200ms linear;
}

.user-adm:hover{
  color: gray;
}

.common-user{
  color: gray;
  transition: color 200ms linear;
}
.common-user:hover{
  color: gold;
}