<div id="page-create-point">
  <header>
    <img src="files/logo.svg" alt="" srcset="">
    <div class="menu-login">
      <div class="menu-login-options">
        <p class="name">User Teste</p>
        <p class="edit"><a class="edit" href="#edit-user">Editar</a></p><br/>
        <p class="logout" id="logout">Sair</p>
      </div>
      <img src="files/login-icon.png" alt="Icone">

    </div>

  </header>

  <form >
    <!-- <Dropzone onFileUploaded={setSelectedFile} /> -->
    <div class="row" id="options">
      <button type="button" id="btn-my-places"      class="btn btn-secondary">Meus Locais</button>
      <button type="button" id="btn-my-reports"     class="btn btn-secondary ml-2">Minhas Denuncias</button>
      <button type="button" id="btn-system-users"   class="btn btn-primary ml-2">Usuários</button>
      <button type="button" id="btn-system-reports" class="btn btn-primary ml-2">Denuncias</button>
      <button type="button" id="btn-system-places"  class="btn btn-primary ml-2">Locais do Sistema</button>
    </div>

    <!-- O clique do botão vai ditar qual desses lugares será carregado pelo JS. Para teste, quando fizer o html, coloque como display="none" para desaparecer com a div toda -->

    <!-- Colocar aqui o HTML do design dos locais que esse user add -->
    <div class="menu-panel"  id="my-places">
    </div>

    <!-- Colocar aqui o HTML do design das debuncias que esse user add -->
    <div class="menu-panel"  id="my-reports">
    </div>

    <!-- Colocar aqui o HTML do design dos usuários gerais do sistema pois ele é adm -->
    <div class="menu-panel" id="system-users">
      
    </div>

    <!-- Colocar aqui o HTML do design das denuncias gerais do sistema pois ele é adm -->
    <div class="menu-panel" id="system-reports">
    </div>

    <!-- Colocar aqui o HTML do design de todos os locais cadastrados do sistema pois ele é adm -->
    <div class="menu-panel" id="system-places">
    </div>

  </form>
</div>