<div class="container c-container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div class="row justify-content-center mb-3">
                <img src="files/login-icon.png" alt="Icone">
            </div>

            <div class="row justify-content-center mb-3">
                <p class="p-align-center">Bem-vindo!<br>Por favor, insira seu usuário e senha.</p>
            </div>

            <div class="row mb-4">
                <div class="col col-md-1"><img src="files/icon-login-smal.png" alt="login"/></div>
                <div class="col col-md-11"><input type="text" id="login" class="form-control" placeholder="Usuário"></div>
            </div>

            <div class="row mb-2">
                <div class="col col-md-1"><img src="files/icon-password.png" alt="senha"/></div>
                <div class="col col-md-11"><input type="password" id="senha" class="form-control" placeholder="Senha"></div>
            </div>

            <div class="row justify-content-between mb-3">
                <div class="col-4">
                    
                </div>
                <div class="col-4">
                    <p class="p-align-begin">Esqueceu a senha?</p>
                </div>
            </div>

            <div class="row justify-content-center mb-4">
                <button type="button" id="btn-login-acao" class="btn btn-primary">Login</button>
            </div>

            <div class="row justify-content-center">
                <p>Não possui conta? <span id="btn-register">Registre-se</span></p> 
            </div>
        </div>
    </div>
</div>