<div id="page-home">
    <div class="content">
      <div class="header">
        <img src="files/logo.svg" alt="" srcset="">
        <a href="#login">
            <span><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
            Login
        </a>
      </div>
      <div class="main">
        <h1>Venha conhecer seus futuros lugares favoritos.</h1>
        <p>
          Ajudamos pessoas a encontrarem pontos turísticos ou lugares de interesse.
        </p>
        <a href="#find-point">
          <span>
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
          </span>
          <strong>Procurar lugares</strong>
        </a>
      </p>
        <a href="#service">
          <span>
            <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
          </span>
          <strong>Cadastrar um lugar</strong>
        </a>
    </div>
    </div>
  </div>


