<div id="page-find-point">

  <div class="container-fluid vh">
      <div class="row vh">
        <div class="col col-md-2 nob nop ">
          <div class="get-points">
            <div class="cards">
              <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Catedral_Leop1.jpg/300px-Catedral_Leop1.jpg" alt=""> -->
              <div class="details">
                <h5 id="name"><a target="_blank" href="https://dioceseleopoldina.com.br/paroquia-da-catedral-de-sao-sebastiao/">Catedral de St Sebastião</a></h5>
                <div class="adress">
                  <p><span id="city">Leopoldina</span>,<span id="complement">MG</span></p>
                  <p><span id="street">Rua Teste do Teste</span>,<span id="number">123</span></p>
                  <!-- <p><span id="neighborhood">Centro da Cidade</span>,<span id="complement">Centro</span></p> -->
                  <p>
                    <span id="ranking">
                      <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                      <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                      <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                      <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    <span id="category" class="ml-2">Igreja</span>
                  </p>
                  <input type="hidden" name="hidden" id="latitude" value="-21.5325519">
                  <input type="hidden" name="hidden" id="longitude" value="-41.6479116">
                </div>
              </div>
              
            </div>
            <div class="cards">
              <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Catedral_Leop1.jpg/300px-Catedral_Leop1.jpg" alt=""> -->
              <div class="details">
                <h5 id="name"><a target="_blank" href="https://dioceseleopoldina.com.br/paroquia-da-catedral-de-sao-sebastiao/">Catedral de St Sebastião</a></h5>
                <div class="adress">
                  <p><span id="city">Leopoldina</span>,<span id="complement">MG</span></p>
                  <p><span id="street">Rua Teste do Teste</span>,<span id="number">123</span></p>
                  <!-- <p><span id="neighborhood">Centro da Cidade</span>,<span id="complement">Centro</span></p> -->
                  <p>
                    <span id="ranking">
                      <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                      <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                      <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                      <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    <span id="category" class="ml-2">Igreja</span>
                  </p>
                  <input type="hidden" name="hidden" id="latitude" value="-21.5325519">
                  <input type="hidden" name="hidden" id="longitude" value="-41.6479116">
                </div>
              </div>
              
            </div>
    
          </div>
        </div>
        <div class="col col-md-2 nob nop boxShadow show hide" id="toggle">
          <div class="row">
            <div class="col col-md-12">
                <div class="logo"><img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Catedral_Leop1.jpg/300px-Catedral_Leop1.jpg" alt=""></div>
            </div>
            <div class="col col-md-12 ml-2 c-details">
              <div class="detail-details">
                <h5 id="detail-name"><a target="_blank" href="https://dioceseleopoldina.com.br/paroquia-da-catedral-de-sao-sebastiao/">Catedral de St Sebastião</a></h5>
                <div class="detail-adress">
                  <p><span id="detail-city">Leopoldina</span>,<span id="detail-complement">MG</span></p>
                  <p><span id="detail-street">Rua Teste do Teste</span>,<span id="detail-number">123</span></p>
                  <!-- <p><span id="neighborhood">Centro da Cidade</span>,<span id="complement">Centro</span></p> -->
                  <p>
                    <span id="detail-ranking">
                      <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                      <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                      <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                      <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    <span id="detail-category" class="ml-2">Igreja</span>
                  </p>
                  <input type="hidden" name="hidden" id="detail-latitude" value="-21.5325519">
                  <input type="hidden" name="hidden" id="detail-longitude" value="-41.6479116">
                </div>
              </div>
            </div>

            <div class="col col-md-12 ml-2 c-details">
              <div class="container detail-services">
                  <div class="row"><h3>Servicos</h3></div>
                  <div class="row" id="detail-services">
                    <div class="col-md-3 mt-2 mb-2 mr-2 ml-2 service services"><i id="" class="" aria-hidden="true"></i></div>
                    <div class="col-md-3 mt-2 mb-2 mr-2 ml-2 service services"><i id="" class="" aria-hidden="true"></i></div>
                    <div class="col-md-3 mt-2 mb-2 mr-2 ml-2 service services"><i id="" class="" aria-hidden="true"></i></div>
                    <div class="col-md-3 mt-2 mb-2 mr-2 ml-2 service services"><i id="" class="" aria-hidden="true"></i></div>
                  </div>
              </div>
            </div>
            <div class="col col-md-12">
              <div id="accordion" class="ml-2">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h3>Comentários</h3>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <div class="row">
                        <div class="col col-md-9">
                          Usuário 1
                        </div>
                        <div class="col col-md-3">
                          Denunciar
                        </div>
                        <div class="col col-md-12">
                          Gostei muito desse lugar
                        </div>
                      </div>

                      <div class="row mt-2">
                        <div class="col col-md-9">
                          Usuário 1
                        </div>
                        <div class="col col-md-3">
                          Denunciar
                        </div>
                        <div class="col col-md-12">
                          Gostei muito desse lugar
                        </div>
                      </div>

                      <button class="btn btn-secondary add-new" type="button" data-toggle="modal" data-target="#newComment">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Adicionar Comentário
                      </button>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="col col-md-12">
              <div id="accordion" class="ml-2">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSecond" aria-expanded="true" aria-controls="collapseOne">
                        <h3>Avaliações</h3>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseSecond" class="collapse" aria-labelledby="headingSecond" data-parent="#accordion">
                    <div class="card-body">
                      <div class="row">
                        <div class="col col-md-9">
                          Usuário 1
                        </div>
                        <div class="col col-md-3">
                          Denunciar
                        </div>
                        <div class="col col-md-12">
                          Gostei muito desse lugar
                        </div>
                      </div>

                      <div class="row mt-2">
                        <div class="col col-md-9">
                          Usuário 1
                        </div>
                        <div class="col col-md-3">
                          Denunciar
                        </div>
                        <div class="col col-md-12">
                          Gostei muito desse lugar
                        </div>
                      </div>
                      <button class="btn btn-secondary add-new" type="button" data-toggle="modal" data-target="#newAssessment">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Adicionar Avaliação
                      </button>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>

        </div>

        <div class="col col-md-10 nob nop">
          <div class="map" id="map"></div>
        </div>
      </div>
  </div>



<!-- Modal  Avaliação-->
<div class="modal fade" id="newAssessment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal  Comentário-->
<div class="modal fade" id="newComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal  Denuncia-->
<div class="modal fade" id="newComplain" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

