<div id="page-find-point">
  <!--
  <header>
    <img src="files/logo.svg" alt="" srcset="">
    <Link to="/">
      <a href="#">
      Voltar para home</a>
    </Link>
  </header>
-->

<!--
  <div class="filters">
    <input type="text" class="form-control name" name="filter1" id="filter1">

    <div class="other_filters" style="display: none;">
      <i class="fa fa-times fa-2x c-icon-close" aria-hidden="true"></i>
      <div class="filter_inputs">
        <select class="form-control" name="filter2" id="filter2">
          <option value="1">Teste 1</option>
          <option value="2">Teste 2</option>
          <option value="3">Teste 3</option>
        </select>
        <select class="form-control" name="filter3" id="filter3">
          <option value="1">Teste 1</option>
          <option value="2">Teste 2</option>
          <option value="3">Teste 3</option>
        </select>
        <select class="form-control" name="filter4" id="filter4">
          <option value="1">Teste 1</option>
          <option value="2">Teste 2</option>
          <option value="3">Teste 3</option>
        </select>
      </div>
      <input type="text" class="form-control">
    </div>
    <i class="fa fa-search fa-2x icon" aria-hidden="true"></i>
    <i class="fa fa-expand fa-2x icon-expand ml-2" aria-hidden="true"></i>
  </div>
-->
  <a class="go-back" href="index.html"> <- Voltar</a>
  <div class="make-comment-form">
    <form id="form-comment">
      <h3>Comente!</h3>
      <input type="text"/>
      <input type="submit" value="Publicar!">
    </form>

  </div>
  <form>
    <input id="search" type="search"/>
    <select id="filter-2">

    </select>
    <select id="filter-3">
      <option value="1">Filtro 1</option>
      <option value="2">Filtro 2</option>
      <option value="3">Filtro 3</option>
      <option value="4">Filtro 4</option>
    </select>
    <select id="filter-4">
      <option value="1">Filtro 1</option>
      <option value="2">Filtro 2</option>
      <option value="3">Filtro 3</option>
      <option value="4">Filtro 4</option>
    </select>
    <div class="get-points">
      <div class="cards">
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Catedral_Leop1.jpg/300px-Catedral_Leop1.jpg" alt=""> -->
        <div class="details">
          <h5 id="name"><a target="_blank" href="https://dioceseleopoldina.com.br/paroquia-da-catedral-de-sao-sebastiao/">Catedral de St Sebastião</a></h5>
          <div class="adress">
            <p><span id="city">Leopoldina</span>,<span id="complement">MG</span></p>
            <p><span id="street">Rua Teste do Teste</span>,<span id="number">123</span></p>
            <!-- <p><span id="neighborhood">Centro da Cidade</span>,<span id="complement">Centro</span></p> -->
            <p>
              <span id="ranking">
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span id="category" class="ml-2">Igreja</span>
            </p>
            <input type="hidden" name="hidden" id="latitude" value="-21.5325519">
            <input type="hidden" name="hidden" id="longitude" value="-41.6479116">
          </div>
          <!-- <button type="button" class="btn btn-secondary">Ver Avaliações</button> -->
        </div>
        <div class="card-modal">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Catedral_Leop1.jpg/300px-Catedral_Leop1.jpg" alt="">
          <h5 id="name"><a target="_blank" href="https://dioceseleopoldina.com.br/paroquia-da-catedral-de-sao-sebastiao/">Catedral de St Sebastião</a></h5>
          <div class="adress">
            <p><span id="city">Leopoldina</span>,<span id="complement">MG</span></p>
            <p><span id="street">Rua Teste do Teste</span>,<span id="number">123</span></p>
            <!-- <p><span id="neighborhood">Centro da Cidade</span>,<span id="complement">Centro</span></p> -->
            <p>
              <span id="ranking">
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span id="category" class="ml-2">Igreja</span>
            </p>
          </div>
            <button class="drop-comment">Comentários &#x25BC;</button>
              <div class="comment">
              <button class="make-comment">Comentar</button>
                <h6>Usuario 1</h6> <button class="report">Denunciar</button><p>Gostei bastante desse lugar!</p>
                <h6>Usuario 2</h6><button class="report">Denunciar</button><p>Muito RUIM! HORRIVEL!</p>
              </div>
            <div>Avaliações</div>
            <div>Avaliar</div>
        </div>
        <!--
        <div class="card-services">
          <h5>Serviços</h5>
          <div class="services">
            <div class="good-service"><i class="fa fa-tree" aria-hidden="true"></i></div>
            <div class="good-service"><i class="fa fa-thermometer-full" aria-hidden="true"></i></div>
            <div class="bad-service"><i class="fa fa-cutlery" aria-hidden="true"></i></div>
            <div class="good-service"><i class="fa fa-money" aria-hidden="true"></i></div>
            <div class="bad-service"><i class="fa fa-tint" aria-hidden="true"></i></div>
            <div class="good-service"><i class="fa fa-volume-up" aria-hidden="true"></i></div>
            <div class="good-service"><i class="fa fa-thermometer-full" aria-hidden="true"></i></div>
            <div class="bad-service"><i class="fa fa-tint" aria-hidden="true"></i></div>
          </div>
        </div>
      -->
      </div>

      <div class="cards">
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Catedral_Leop1.jpg/300px-Catedral_Leop1.jpg" alt=""> -->
        <div class="details">
          <h5 id="name">Catedral de St Sebastião</h5>
          <div class="adress">
            <p><span id="city">Leopoldina</span>,<span id="complement">MG</span></p>
            <p><span id="street">Rua Teste do Teste</span>,<span id="number">123</span></p>
            <!-- <p><span id="neighborhood">Centro da Cidade</span>,<span id="complement">Centro</span></p> -->
            <p>
              <span id="ranking">
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span id="category" class="ml-2">Igreja</span>
            </p>
            <input type="hidden" name="hidden" id="latitude" value="-21.5325519">
            <input type="hidden" name="hidden" id="longitude" value="-42.6479116">
          </div>
          <!-- <button type="button" class="btn btn-secondary">Ver Avaliações</button> -->
        </div>
        <div class="card-modal">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Catedral_Leop1.jpg/300px-Catedral_Leop1.jpg" alt="">
          <h5 id="name"><a target="_blank" href="https://dioceseleopoldina.com.br/paroquia-da-catedral-de-sao-sebastiao/">Catedral de St Sebastião</a></h5>
          <div class="adress">
            <p><span id="city">Leopoldina</span>,<span id="complement">MG</span></p>
            <p><span id="street">Rua Teste do Teste</span>,<span id="number">123</span></p>
            <!-- <p><span id="neighborhood">Centro da Cidade</span>,<span id="complement">Centro</span></p> -->
            <p>
              <span id="ranking">
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span id="category" class="ml-2">Igreja</span>
            </p>
          </div>
            <button class="drop-comment">Comentários &#x25BC;</button>
              <div class="comment">
              <button class="make-comment">Comentar</button>
                <h6>Usuario 1</h6><button class="report">Denunciar</button><p>Gostei bastante desse lugar!</p>
                <h6>Usuario 2</h6><button class="report">Denunciar</button><p>Muito RUIM! HORRIVEL!</p>
              </div>
            <div>Avaliações</div>
            <div>Avaliar</div>
        </div>
        <!--
        <div class="card-services">
          <h5>Serviços</h5>
          <div class="services">
            <div class="good-service"><i class="fa fa-tree" aria-hidden="true"></i></div>
            <div class="good-service"><i class="fa fa-thermometer-full" aria-hidden="true"></i></div>
            <div class="bad-service"><i class="fa fa-cutlery" aria-hidden="true"></i></div>
            <div class="good-service"><i class="fa fa-money" aria-hidden="true"></i></div>
            <div class="bad-service"><i class="fa fa-tint" aria-hidden="true"></i></div>
            <div class="good-service"><i class="fa fa-volume-up" aria-hidden="true"></i></div>
            <div class="good-service"><i class="fa fa-thermometer-full" aria-hidden="true"></i></div>
            <div class="bad-service"><i class="fa fa-tint" aria-hidden="true"></i></div>
          </div>
        </div>
      -->
      </div>

      <div class="cards">
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Catedral_Leop1.jpg/300px-Catedral_Leop1.jpg" alt=""> -->
        <div class="details">
          <h5 id="name">Catedral de St Sebastião</h5>
          <div class="adress">
            <p><span id="city">Leopoldina</span>,<span id="complement">MG</span></p>
            <p><span id="street">Rua Teste do Teste</span>,<span id="number">123</span></p>
            <!-- <p><span id="neighborhood">Centro da Cidade</span>,<span id="complement">Centro</span></p> -->
            <p>
              <span id="ranking">
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span id="category" class="ml-2">Igreja</span>
            </p>
            <input type="hidden" name="hidden" id="latitude" value="-21.5325519">
            <input type="hidden" name="hidden" id="longitude" value="-40.6479116">
          </div>
          <!-- <button type="button" class="btn btn-secondary">Ver Avaliações</button> -->
        </div>
        <div class="card-modal">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Catedral_Leop1.jpg/300px-Catedral_Leop1.jpg" alt="">
          <h5 id="name"><a target="_blank" href="https://dioceseleopoldina.com.br/paroquia-da-catedral-de-sao-sebastiao/">Catedral de St Sebastião</a></h5>
          <div class="adress">
            <p><span id="city">Leopoldina</span>,<span id="complement">MG</span></p>
            <p><span id="street">Rua Teste do Teste</span>,<span id="number">123</span></p>
            <!-- <p><span id="neighborhood">Centro da Cidade</span>,<span id="complement">Centro</span></p> -->
            <p>
              <span id="ranking">
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" style="color: gold;" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span id="category" class="ml-2">Igreja</span>
            </p>
          </div>
            <button class="drop-comment">Comentários &#x25BC;</button>
              <div class="comment">
              <button class="make-comment">Comentar</button>
                <h6>Usuario 1</h6><button class="report">Denunciar</button><p>Gostei bastante desse lugar!</p>
                <h6>Usuario 2</h6><button class="report">Denunciar</button><p>Muito RUIM! HORRIVEL!</p>
              </div>
            <div>Avaliações</div>
            <div>Avaliar</div>
        </div>
        <!--
        <div class="card-services">
          <h5>Serviços</h5>
          <div class="services">
            <div class="good-service"><i class="fa fa-tree" aria-hidden="true"></i></div>
            <div class="good-service"><i class="fa fa-thermometer-full" aria-hidden="true"></i></div>
            <div class="bad-service"><i class="fa fa-cutlery" aria-hidden="true"></i></div>
            <div class="good-service"><i class="fa fa-money" aria-hidden="true"></i></div>
            <div class="bad-service"><i class="fa fa-tint" aria-hidden="true"></i></div>
            <div class="good-service"><i class="fa fa-volume-up" aria-hidden="true"></i></div>
            <div class="good-service"><i class="fa fa-thermometer-full" aria-hidden="true"></i></div>
            <div class="bad-service"><i class="fa fa-tint" aria-hidden="true"></i></div>
          </div>
        </div>
      -->
      </div>
    </div>
    <div class="map" id="map"></div>
  </form>
</div>